body {
  background-color: beige;
}
header{
  box-sizing: border-box;
  background-color: #36454f;
  color: white;
}
.topbar {
  text-align: bottom;
  border-radius: 20px;
  right: 10px;
  border-top: 20px;
}
.items {
  text-align: right;
  text-align: top;
  
}